@media screen and  (max-width: 1024px)
  .how-it-works-items
    justify-content: center

  .dash-pink
    width: 200px !important

  .dash-grey
    width: 200px !important

@media screen and  (max-width: 768px)
  .how-it-works-items
    justify-content: center

  .dash-pink
    width: 130px !important

  .dash-grey
    width: 130px !important

  .our-work-items
    justify-content: space-evenly !important
  .our-work-item-wrapper
    width: calc(100% / 9 * 4)
    margin-bottom: 10px

  .features
    margin-bottom: 50px
  .feature-items
    justify-content: center !important

  .feature-item
    width: calc(100% / 12 * 4)
    margin-bottom: 20px