%flex-standart
  display: flex
  flex-wrap: wrap

.header-top
  @extend %flex-standart
  justify-content: space-between
  align-items: center
  margin-bottom: 113px

.logo
  @extend %flex-standart
  align-items: center

  justify-content: space-between

  img
    margin-right: 20px


  span
    font-family: "Museo Sans Cyrl 300",sans-serif
    font-size: 16px

.header-location
  @extend %flex-standart
  align-items: center
  p
    font-family: "Museo Sans Cyrl 700",sans-serif
    font-size: 16px

  span
    font-family: "Museo Sans Cyrl 300",sans-serif
    font-size: 12px

    a
      color: $link

  img
    margin-right: 20px

.header-phones
  display: flex
  flex-direction: column
  align-items: center
  span
    font-family: "Museo Sans Cyrl 700",sans-serif
    font-size: 18px

  span:last-child
    font-family: "Museo Sans Cyrl 300",sans-serif
    font-size: 13px

.header-offer
  @extend %flex-standart
  max-width: 1170px
  margin: 0 auto

  justify-content: space-between
  align-items: center


.offer-text
  flex-basis: 515px
  h1
    font-size: 48px
    font-family: "Museo Sans Cyrl 100",sans-serif
    margin-bottom: 50px
    span
      font-family: 'BerlingskeSerif',sans-serif
      font-size: 60px
  p
    font-family: "Museo Sans Cyrl 300",sans-serif
    font-size: 18px
    span
      font-family: "Museo Sans Cyrl 700",sans-serif
      color: $button-bg



.offer-form-wrapper
  border-radius: 10px
  background: #fff
  padding: 8px
  flex-basis: 370px

.offer-form-inner
  h3
    font-family: 'BerlingskeSerif',sans-serif
    font-size: 33px
    margin-bottom: 35px

  p
    font-family: "Museo Sans Cyrl 300",sans-serif
    font-size: 16px
    margin-bottom: 25px
    span
      font-family: "Museo Sans Cyrl 700",sans-serif


  border: 1px dashed #e5e5e5
  border-radius: 5px
  height: 100%
  padding: 15px 40px


  form
    display: flex
    flex-direction: column
    align-items: center
    p
      font-family: "Museo Sans Cyrl 300",sans-serif
      font-size: 12px
      max-width: 75%
      text-align: center

      a
        color: $link
