header
  background: url("../img/header-bg.jpg")
  height: 999px
  padding-top: 40px

$button-bg: #ed3461

.call-order-btn
  background: $button-bg
  border: none
  border-radius: 30px
  padding: 20px 30px
  cursor: pointer
  font-size: 14px
  font-family: "Museo Sans Cyrl 700",sans-serif
  color: #fff
  text-transform: uppercase
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.24)

.form-submit
  background: $button-bg
  border: none
  border-radius: 30px
  padding: 20px 30px
  cursor: pointer
  font-size: 14px
  font-family: "Museo Sans Cyrl 700",sans-serif
  color: #fff
  text-transform: uppercase
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.24)

input[type="text"]
  /*font: 15px/24px 'Open Sans', sans-serif;*/
  font-family: "Museo Sans Cyrl 300",sans-serif
  color: #83868f
  box-sizing: border-box
  letter-spacing: 1px
  border: 0
  padding: 7px 0
  background: #f8f9fb
  border-radius: 5px

  width: 90%




::placeholder
  color: #83868f
  font-size: 12px


.container-lg
  max-width: 1440px
  margin: 0 auto
